body,
html {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

p {
  margin: 12px 0;
}

.mr-4 {
  margin-right: 4px;
}
.ml-2 {
  margin-left: 2px;
}
.mx-auto {
  margin-inline: auto;
}
.text-center {
  text-align: center;
}
.min-100 {
  min-width: 100px;
}
.min-120 {
  min-width: 120px;
}
.min-150 {
  min-width: 150px;
}
.underline {
  border-bottom: 1px solid black;
}
.underline-top {
  border-top: 1px solid black;
}
.w-fit {
  width: fit-content;
}
.container {
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  padding-block: 5mm;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url("./Dhaka-Bank-Ltd.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  opacity: 0.1;
  transform: rotate(317deg);
  z-index: -1;
  overflow: hidden;
}
.header {
  text-align: center;
  margin-bottom: 14px;
}
.header img {
  width: 280px;
  margin-block: 10px;
  margin-bottom: 20px;
}
.header .title {
  font-size: 22px;
  line-height: 18px;
  font-weight: bold;
  margin-top: 8px;
  text-transform: uppercase;
}
.line {
  display: flex;
  align-items: center;
}
.line .show-gap {
  position: relative;
  flex-grow: 1;
  /* text-decoration: underline; */
}
.show-gap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  background: black;
  height: 1px;
  width: 100%;
}

.signature-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 50px;
}
.signature-section p {
  border-top: 1px solid black;
}

.bank-section-title {
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  padding-block: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-block: 36px;
}
